.facilidades {
    padding: 0 3%;
}

.texto-menor {
    font-size: 13px;
}

.texto-maior {
    font-size: 23px;
}

.facilidade-icone {
    font-size: 56px;
}

.divs-facilidade {
    width: 322px;
}

@media (min-width: 992px) {
    .facilidade-icone {
        font-size: 72px;
    }
}

@media (min-width: 1067px) {
    .facilidades {
        padding: 0 7%;
    }
}

@media (min-width: 1390px) {
    .facilidades {
        padding: 0 14%;
    }
}